{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} ... {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'authe/styles/authe.css' %}">
</head>
<body>
    <header class="header">

        <h1 class="title"> Decode Blog </h1>

        <div class="search-bar">
            <input type="text" id="search-input" name="q" placeholder="Поиск по блогам">
            <button type="submit" class="search-button">Найти</button>
        </div>
        <div class="btns">      
            <button class="register"> Регистрация </button>
            <button class="login"> Вход </button>
        </div>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>