/* blog_app/static/blog_app/styles/profile.css */


.container {
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #000000;
}


.profile-info {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}


.blog-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.blog-title {
    color: #4285f4;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.blog-content {
    line-height: 1.6;
}

.blog-date {
    color: #888;
}

/* редактировать + удалить в profile */
/* blog_app/styles/edit.css */

/* ... (ваш существующий CSS-код) */

.edit-del {
    margin-top: 20px;
}

.edit--btn, .delete--btn {
    display: inline-block;
    padding: 10px 15px;
    margin-right: 10px; 
    text-decoration: none;
    color: #fff;
    border-radius: 7px;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 12px;
}

.edit--btn {
    background-color: #4caf50;
    border: 0.5px solid #000000;
}

.edit--btn:hover {
    background-color: #000;
    border-color: #000;
}

.delete--btn {
    background-color: #ff3333;
    border: 0.5px solid #000000;
}

.delete--btn:hover {
    background-color: #000;
    border-color: #000;
}
