/* Общие стили для всей страницы */
body {
    background-color: #ffffff; /* цвет фона страницы */
    margin: 0;
    padding: 0;
}

/* Стили для header (шапки) */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 130px;
    background-color: #fff; /* Белый цвет фона header */
    width: 100%;
    border-bottom: 0.5px solid #E7E7E7; /* Добавляем нижнюю границу (полоску) */
}


/* Стили для текста в header */
.title, .search, .register, .login {
    font-family: "Roboto", sans-serif; 
    color: #00A2DC; /* Цвет текста */
}

/* Decode */
.title {
    font-size: 50px;
    margin-left: 100px;
}



/* Стили для кнопок "Регистрация" и "Вход" */
.btns {
    display: flex;
    gap: 20px; /* Добавлено расстояние между кнопками */
    margin-right: 50px;
}

.register,
.login {
    width: 130px;
    padding: 10px 20px;
    margin: 0; 
    text-decoration: none;
    color: #fff;
    background-color: #00A2DC;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.register:hover,
.login:hover {
    background-color: #1d2124;
}



/* Стили для поля ввода и кнопки "Найти" */
.search-bar {
    display: flex;
    align-items: center;
}

#search-input {
    width: 321px;
    height: 50px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #ccc;
    padding: 5px;
}

.search-button {
    height: 50px;
    width: 91px;
    border-radius: 0 4px 4px 0;
    border: 1px solid #ccc;
    color: #fff;
    background-color: #00A2DC;
    cursor: pointer;
}

