{% extends "authe/base.html" %}
{% load static %}
{% block title %} Создание блога {% endblock %}

{% block static %}
    <link rel="stylesheet" href="{% static 'blog_app/styles/create.css' %}">
{% endblock %}


{% block content %}
    <div class="create-blog-container">
        <h2 class="mt-3">Создание блога</h2>
        <form method="post" class="create-blog-form">
            {% csrf_token %}
            {% for f in form %}
                {{ f }}
            {% endfor %}
            <button type="submit" class="create-blog-button">Создать блог</button>
        </form>
        <a href="{% url 'blogs:index' %}" class="back-to-blog btn btn-dark">Назад к блогам</a>
    </div>
{% endblock %}
